<app-loading *ngIf="isLoading; else notLoading">
    Loading the news article...
</app-loading>

<ng-template #notLoading>
    <div *ngIf="bookDetails | async as currentBook; else notFound" class="container" fxLayout="row wrap"
         fxLayoutAlign="center">
        <h1 class="mat-h1" fxFlex="100%">{{currentBook.title}}</h1>
        <p fxFlex="100%" class="mat-body-2">
            By {{currentBook.authors[0]}}
        </p>
        <img [src]="currentBook.linkCover" alt="article thumbnail" fxFlex="65%"/>
        <markdown class="news-markdown" [data]="currentBook.description" fxFlex="100%"></markdown>
    </div>
    <ng-template #notFound>
        <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 250px">
            <h1 class="mat-display-4">404</h1>
            <h4 class="mat-h4" fxFlex="100">Article not found</h4>
        </div>
    </ng-template>
</ng-template>
